<configuration debug="true">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="info"/>
    <logger name="org.I0Itec" level="info"/>
    <logger name="org.apache.helix" level="warn"/>
    <logger name="org.springframework" level="info"/>
    <logger name="freemarker" level="info"/>

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>

</configuration>